{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Raviraj Classes</title>

    <!-- Custom fonts for this theme -->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet"
          type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic"
          rel="stylesheet"
          type="text/css">

    <!-- Theme CSS -->
    <link href="{% static 'css/freelancer.min.css' %}" rel="stylesheet">

    <!--Fav icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#031828">

    <style>
        .navbar-logo {
            width: 150px;
        }

        .remove-border-radius {
            border-radius: 0;
        }

        .nn-cards {
            background: rgba(255, 255, 255, 0.7);
        }

        {#Overide bootstap classes default setting#}
        .card {
            color: black;
            margin: 15px 10px;
        }

        .alert {
            padding: .20rem .50rem;
        }


        @media only screen and (max-width: 480px) {
            .navbar-logo {
                width: 100px;
            }

            #name-of-class {
                order: -3;
            }

        }
    </style>

</head>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <img src="{% static 'nav_logo.png' %}" alt="" class="navbar-logo">
        </a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded"
                type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#our_ways">Our Ways</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#know_us">Know Us</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact_us">Contact Us</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a href="" class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" style="background: #007bff">Sign
                        Up</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a href="" class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" style="background: #dc3545">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Masthead -->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        {% if message %}
            <div class="alert alert-success" id="form-msg">
                <h3><b>{{ message }}
                    <button class="btn btn-success" onclick="function f() {
                  document.getElementById('form-msg').remove();
                }f()">X
                    </button>
                </b></h3>

            </div>
        {% endif %}
        <div class="row">

            {# Notification #}
            <div class="col-sm card remove-border-radius nn-cards">
                <div class="card-body">
                    <h5 class="card-title">Notification</h5>
                    <div class="alert alert-primary" role="alert">
                        <b>Special Separate batch only for 9th and 10th
                        </b>
                    </div>
                    <div class="alert alert-primary" role="alert">
                        NO SMALL CHILDREN TO DISTURB
                    </div>
                    <div class="alert alert-danger" role="alert">
                        Call Now To More
                        <a href="tel:8888841181">88888-411-81</a>
                    </div>
                    <div class="alert alert-danger" role="alert">
                        Mail us
                        <a href="mailto:ravirajclasses@gmail.com">ravirajclasses@gmail.com</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6" id="name-of-class">
                <img class="masthead-avatar mb-5" src="{% static 'img/study.gif' %}" alt="">
                <h2 class="  mb-0">Shri Raviraj e-learning Classes</h2>
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                </div>
                <p class="h4 font-weight-bolder mb-0">LEARN - EDUCATE - ILLUSTRATE</p>
            </div>

            {# News #}
            <div class="col-sm card remove-border-radius nn-cards">
                <div class="card-body">
                    <h5 class="card-title">News</h5>
                    <p class="card-text">This is news section about ssc and other exams</p>
                    <div class="alert alert-danger h6" role="alert">
                        9th and 10th Free one week demo starts on <br><b>3 June 2019 </b>on Monday
                        <br>Time : 4:00 pm to 6:00 pm
                        <br>Please do not bring books
                    </div>
                </div>
            </div>
        </div>


    </div>
</header>

<!-- Portfolio Section -->
<section class="page-section portfolio" id="our_ways">
    <div class="container">

        <!-- Portfolio Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Our Ways</h2>

        <!-- Icon Divider -->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
        </div>

        <div class="row">


            <div class="col-md-6 col-lg-4">
                <div class="portfolio-item mx-auto">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="{% static 'img/portfolio/game.png' %}" alt="">
                </div>
                <div>
                    <h2>Explore</h2>
                    <p>Play fun games weekends.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="portfolio-item mx-auto">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="{% static 'img/portfolio/safe.png' %}" alt="">
                </div>
                <div>
                    <h2>Learn</h2>
                    <p>Not just learn. Learn secret techniques about learning.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="portfolio-item mx-auto">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="{% static 'img/portfolio/submarine.png' %}" alt="">
                </div>
                <div>
                    <h2>Dive Deep</h2>
                    <p>Learn Concept deeply not just for seeking good marks.</p>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- About Section -->
<section class="page-section bg-primary text-white mb-0" id="know_us">
    <div class="container">

        <!-- About Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-white">Know Us</h2>

        <!-- Icon Divider -->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
        </div>

        <!-- About Section Content -->
        <div class="row">
            <div class="col-lg-4 ml-auto">
                <p class="lead">
                    We are leading since 2016, as expert in MH-SSC english and semi-english medium program.
                </p>
                <p class="lead">
                    Environment we provide is top notch for bringing the good in student.
                </p>
            </div>
            <div class="col-lg-4 mr-auto">
                <p class="lead">
                    Though our class is fun loving, it is equally strict and discipline.

                </p>
                <p class="lead">
                    Come experience the correct way to learn.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section class="page-section" id="contact_us">
    <div class="container">

        <!-- Contact Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contact Us</h2>

        <!-- Icon Divider -->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
        </div>

        <!-- Contact Section Form -->
        <div class="row">
            <div class="col-lg-8 mx-auto">

                <form method="post">
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Name</label>
                            <input class="form-control" name="name" type="text" placeholder="Name" required="required"
                                   data-validation-required-message="Please enter your name.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Email Address</label>
                            <input class="form-control" name="email" type="email" placeholder="Email Address"
                                   required="required"
                                   data-validation-required-message="Please enter your email address.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Phone Number</label>
                            <input class="form-control" name="phone" type="tel" placeholder="Phone Number"
                                   required="required"
                                   data-validation-required-message="Please enter your phone number.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label>Message</label>
                            <textarea class="form-control" name="message" rows="5" placeholder="Message"
                                      required="required"
                                      data-validation-required-message="Please enter a message."></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary btn-xl">
                    </div>
                    {% csrf_token %}
                </form>
            </div>
        </div>

    </div>
</section>

<!-- Footer -->
<footer class="footer text-center">
    <div class="container">
        <div class="row">

            <!-- Footer Location -->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Location</h4>
                <p class="lead mb-0">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d101824.05735983257!2d74.05341034302897!3d18.480978754000315!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2e7904158e34d%3A0xc390fee273e5218f!2sRaviraj+Classes!5e0!3m2!1sen!2sin!4v1558892217828!5m2!1sen!2sin"
                            height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
                </p>
                <p class="lead mb-0">
                    Opp. to Auto Corner (Kale) Petrol Pump, Pune Solapur Road,
                    Kunjirwadi,Pune 412201
                </p>
            </div>

            <!-- Footer Social Icons -->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Around the Web</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="#">
                    <i class="fab fa-fw fa-facebook-f"></i>
                </a>
                <a class="btn btn-outline-light btn-social mx-1" href="#">
                    <i class="fab fa-fw fa-twitter"></i>
                </a>
                <a class="btn btn-outline-light btn-social mx-1" href="#">
                    <i class="fab fa-fw fa-linkedin-in"></i>
                </a>
                <a class="btn btn-outline-light btn-social mx-1" href="#">
                    <i class="fab fa-fw fa-dribbble"></i>
                </a>
            </div>

            <!-- Footer About Text -->
            <div class="col-lg-4">
                <h4 class="text-uppercase mb-4">About Raviraj</h4>
                <p style="text-align: justify-all">

                    We the Shri Raviraj e-learning Classes started our journey on Summer of 2016
                    and almost 150+ student have passed out since. <br>


                </p>
            </div>

        </div>
    </div>
</footer>

<!-- Copyright Section -->
<section class="copyright py-4 text-center text-white">
    <div class="container">
        <small>&copy; Shri Raviraj e-learning Class
            <script>
                document.write(new Date().getFullYear());
                document.write('-');
                document.write(new Date().getFullYear() + 1);
            </script>
        </small>
    </div>
</section>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Plugin JavaScript -->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Contact Form JavaScript -->
<script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
<script src="{% static 'js/contact_me.js' %}"></script>

<!-- Custom scripts for this template -->
<script src="{% static 'js/freelancer.min.js' %}"></script>

</body>

</html>